extends header

block content
  .container-fluid
    .row
      ol.breadcrumb
        li
          a(href="#") home
        li
          a(href="#") path

  .container-fluid
    table.table.table-hover
      thead
        tr
          th 文件名
          th 文件大小
          th 最后修改时间
      tbody
        tr
          td
            span.glyphicon.glyphicon-file
          td 2
          td 3
        tr
          td
            span.glyphicon.glyphicon-folder-open
          td 2
          td 3
        tr
          td
            span.glyphicon.glyphicon-folder-close
          td 2
          td 3




  script(src="inc/src/main.js")