extends layout

block content
  #path 路径:
    span#J_fullpath
  #tree.tree
    ul
      li
        span.folder
          i(data-name="app")
          em app

  #main.main 中间主控制栏
    label 压缩
      input(type="checkbox") 

    input#J_getfiles(type="button", value="打包")
  #command.command(style="display:none")
    .bg
    .textview 测试文字

  script(src='/js/lib/require.js')
  script(src='/js/main.js')