extends layout

block content
  #path 路径
  #tree.tree
    ul
      li
        span.folder.open
          i
          em folder1
        ul
          li
            span.item 
              i
              em item1
            ul
              li
                span.folder.open
                  i
                  em folder1
          li
            span.item.cur
              i
              em item2
          li
            span.item
              i
              em item3
          li
            span.folder
              i
              em folder12
            ul
              li
                span.item
                  i
                  em item11
              li
                span.item
                  i
                  em item12
      li
        span.folder.open.cur
          i
          em folder2
        ul
          li
            span.item
              i
              em item1

  #main 中间主控制栏

  #command 右侧命令输出条

  script(src='/js/lib/require.js')
  script(src='/js/main.js')