extends layout

block content
  #path 路径
  #tree.tree
    ul
      li
        span.folder
          i(data-name="app")
          em app

  #main 中间主控制栏
    input#J_getfiles(type="button", value="click")
  #command 右侧命令输出条

  script(src='/js/lib/require.js')
  script(src='/js/main.js')