extends layout

block content
  #path 路径:
    span#J_fullpath
  #tree.tree
    ul
      li
        span.folder
          i(data-name="app")
          em app

  #main.main
    .checkbox
      label
        input(type="checkbox")
        span 压缩 
    button(disabled="disabled")#J_getfiles.btn.btn-default 打包
  #command.command
    .bg
    .textview

  script(src='/js/lib/require.js')
  script(src='/js/main.js')