doctype html
html
  head
    meta(charset="UTF-8")
    title vacation
    link(rel='stylesheet', href='/js/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/tree.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content