.main {
  float: left;
  margin-left: 10px; }

.command {
  width: 40%;
  height: 200px;
  position: fixed;
  bottom: 0;
  right: 0; }
  .command .bg {
    width: 100%;
    height: 200px;
    background: #000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10; }
  .command .textview {
    left: 10px;
    top: 10px;
    position: absolute;
    color: #0DF010;
    text-shadow: 1px 1px 1px #333;
    z-index: 20; }
