doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    script(src='/lib/jquery.js')
    script(src='/lib/underscore.js')
    script(src='/lib/backbone.js')
    script(src='/dist/vendor.js')
  body
    block content
