<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <div id="app">
    <span v-bind:title="message">{{message}}</span>
    <input v-model="message" />
    <ol>
      <li v-for='todo in todos'>{{todo.text}}</li>
    </ol>
    <p v-if="seen">seen</p>
  </div>
  <ol v-bind:id="dynaicId">
      <todo-item></todo-item>
    </ol>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>
</html>