{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env":{
    "es6": true,
    "jquery": true
  },
  "ecmaFeatures": {
    "modules": true,
    "arrowFunctions": true,
    "destructuring": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true
  },
  "rules": {
    "no-console": 0,
    "no-debugger": 0
  },
  "globals": {
    "jQuery": 0,
    "cQuery": 0
  }
}